:root {
  /* hue + saturation */
  --hs-gray: 4 3%;
  --hs-red: 4 66%;
  --hs-green: 152 76%;
  --hs-blue: 204 84%;
  --hs-yellow: 40 89%;
  /* lightness */
  --l-white: 99%;
  --l-lightest: 96%;
  --l-lighter: 90%;
  --l-light: 76%;
  --l-normal: 52%;
  --l-dark: 40%;
  --l-darker: 25%;
  --l-darkest: 20%;
  --l-black: 15%;
  /* transparent, since browsers show it differently */
  --transparent: hsl(0 0% 100% / 0.00001);
  --opaque: 1;
  /* colors */
  --red-white: hsl(var(--hs-red) var(--l-white) / var(--opaque));
  --red-lightest: hsl(var(--hs-red) var(--l-lightest) / var(--opaque));
  --red-lighter: hsl(var(--hs-red) var(--l-lighter) / var(--opaque));
  --red-light: hsl(var(--hs-red) var(--l-light) / var(--opaque));
  --red-normal: hsl(var(--hs-red) var(--l-normal) / var(--opaque));
  --red-dark: hsl(var(--hs-red) var(--l-dark) / var(--opaque));
  --red-darker: hsl(var(--hs-red) var(--l-darker) / var(--opaque));
  --red-darkest: hsl(var(--hs-red) var(--l-darkest) / var(--opaque));
  --red-black: hsl(var(--hs-red) var(--l-black) / var(--opaque));
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  height: -webkit-fill-available;
  display: inherit;
  font-size: var(--size);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size-adjust: 0.5;
  color: var(--gray6);
  font-weight: var(--weight-normal);
  line-height: var(--line-height);
  background-color: var(--gray1);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  accent-color: var(--brand);
}

a {
  color: var(--red-normal);
}
